# Python cache
__pycache__
.mypy_cache

# Build files
build

# Environment variables
.env
google_stt_credentials.json

# speech recognition library
speechrecognition

# pyinstaller folders
dist
output

# Chat output
out

# misc
*.spec
.DS_STORE
.vscode
.venv
