# Python cache
__pycache__
.mypy_cache

# Build files
build

# pyinstaller folders
dist
output

# Camera parameters
camera_parameters.json
*_calibration.json

# Executables
*.exe
simple_camio
simple_calibration

.DS_STORE
.vscode

config.json