google-cloud-speech==2.7.0
mediapipe==0.10.9
numpy==1.24.4
openai==1.40.2
opencv-contrib-python==4.6.0.66
py3_tts==3.5
pyttsx3==2.90
SpeechRecognition==3.10.4
pynput==1.7.7
pygame==2.6.0
pyyaml==6.0.1
pyaudio==0.2.14
-e "git+https://github.com/Matteo-3033/speech_recognition.git#egg=speechrecognition"
